h2{
    text-align: center;
}

div{
    width: 50%;
    margin-top: 15px;
    margin: 0 auto;
    border: 2px solid ;
    padding: 5px;
}

ul{
    width: 80%;
    margin: 0 auto;
}
p{
    border: 2px solid ;
    padding: 5px;
}

fieldset{
    margin-bottom: 10px;
    border: 1px solid;
}

legend{
    letter-spacing: 2px;
    color: red;
    border: 2px dotted red;
}